helloWorld();

begin
   write "Hello World";
end;

//JADE is a proprietary object-oriented software development and deployment platform product from the New Zealand-based Jade Software Corporation,first released in 1996
